<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7bfc0">  <td>18/01/29 15:01:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInTest.setup()[pri:0, instance:com.fc.website.test.LogInTest@3e8c3cb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345483087</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/01/29 15:01:36</td>   <td>17531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInTest.login_screen_verifcaition()[pri:0, instance:com.fc.website.test.LogInTest@3e8c3cb]">login_screen_verifcaition</td> 
  <td>main@1345483087</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/01/29 15:01:37</td>   <td>18475</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInTest.teardown()[pri:0, instance:com.fc.website.test.LogInTest@3e8c3cb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1345483087</td>   <td></td> </tr>
</table>
